@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-4xl font-bold my-4;
}

h2 {
  @apply text-xl font-semibold my-4;
}

main {
  @apply flex flex-col justify-center;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 2rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

a {
  @apply underline hover:no-underline;
}

p {
  @apply my-2;
}

button {
  @apply bg-white hover:bg-gray-300 px-0.5 py-0 w-fit h-fit;
  @apply border border-gray-300;
  @apply text-gray-700;
}

ol {
  @apply list-decimal;
}


/* glossary terms with a definition that shows on hover */
.glossary-hover {
  position: absolute;
  display: none;
  width: 300px;
  transform: translateY(1.7rem);
  @apply bg-white hover:bg-gray-300 h-fit px-3;
  @apply border border-gray-300;
  @apply text-black;
}

/* .glossary-link:hover + .glossary-hover { */
.glossary-hover:has(+ .glossary-link:hover) {
  display: initial;
}

.glossary-link {
  @apply underline hover:no-underline;
}
