[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
stampy-chat = {editable = true, path = "."}
# ---- <flask stuff> ----
flask = "==2.2.2"
# ---- </flask stuff> ----
openai = "*"
numpy = "==1.24.2"
tenacity = "==8.2.2"
tiktoken = "*"
pinecone-client = "*"
python-dotenv = "*"
discord-webhook = "*"
requests = "*"
alembic = "*"
sqlalchemy = "*"
mysql-connector-python = "*"
langchain = "==0.1.20"
transformers = "*"
langchain-anthropic = "*"
werkzeug = "==2.2.2"
tonic-validate = "*"

[dev-packages]
pytest = "*"
ipdb = "*"

[requires]
python_version = "3.11"
